<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.location"
    versionCode = "1"
    version     = "1.0.0" >


  <name>Location</name>

  <description>
     
  </description>
 
    <plugin name="cordova-plugin-geolocation-android-activator" />
    <plugin name="cordova-plugin-geolocation"  />

    <platform name="android"></platform>
        
    <platform name="ios">
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>NSLocationAlwaysUsageDescription</key>
                    <string>Program requires GPS to track cars and job orders</string>
                    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
                    <string>Program requires GPS to track cars and job orders</string>
                    <key>NSLocationWhenInUseUsageDescription</key>
                    <string>Program requires GPS to track cars and job orders</string>
                    <key>NSMicrophoneUsageDescription</key>
                    <string>This app uses your Microphone to allow Voice over IP communication with the Program Admin system</string>
                </dict>
            </array>
        </config-file>
    </platform>
    

    
    
</widget>