<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.location"
    versionCode = "1"
    version     = "1.0.0" >


  <name>Location</name>

  <description>
     
  </description>

 
    <plugin name="cordova-plugin-geolocation-android-activator" />
    <plugin name="cordova-plugin-geolocation"  />

</widget>