<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id          = "com.phonegap.location1"
    versionCode = "1"
    version     = "1.0.0" >

  <name>Location Example</name>

  <description>
     
  </description>

    <preference name="phonegap-version" value="cli-7.0.1" />
 
    
   
    <plugin name="cordova-plugin-geolocation" />

    
    <access origin="*"/>
    <plugin name="cordova-plugin-whitelist"  />
    <plugin name="cordova.plugins.diagnostic "  />
    

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        </config-file>
    </platform>
    
    
    
    
</widget>